#bg2{
    height:100vh;
    min-width:100%;
    background-color:#ffff;

    position:fixed;
    z-index:-1;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
}
html,body{
    width:100%;}

#text{
    margin-top:30%;}

#error{
    font-size:50px;
    color:#555B5F;
}
