#bg2{
    height:100vh;
    min-width:100%;
    background-color:#555B5F;
    position:fixed;
    z-index:-1;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
}
html,body{
    width:100%;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

!important;
}

li {
    width: 100%;
    float: left;
!important;
}

li a, #dropbtn .form-check-input{
    display: inline-block;
    color: white;
    text-align: left;

    text-decoration: none;
!important;
}

  #dropdown:hover #dropbtn {
    background-color: #FFCF17; !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
}

li#dropdown {

    display: inline-block;
!important;
}

#dropdown-content form{
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
!important;
}

#dropdown-content .form-check-input form{
    color: black;

    text-decoration: none;
    display: block;
    text-align: left;
!important;
}



#dropdown:hover #dropdown-content {
    display: block;
!important;
}
#dropdown-content{
    background-color: #FFCF17;
}
.icon:hover{color:#FFCF17;}

